.leftArrow:hover,
.rightArrow:hover {
  cursor: pointer;
}

.customContainer {
  width: 16rem;
  display: flex;
}

.customContainer > div {
  flex: auto;
}

.headerDiv{
  display: flex;
  flex-direction: row;
}

.leftArrowDiv{
  padding-right: 20px;
}

.rightArrowDiv{
  padding-left: 20px;
}